
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; -webkit-font-smoothing: antialiased;}
body                            { padding:0; margin:0; font:13px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:13px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; color:#000; text-decoration:none; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
  padding-top: 40px;
  padding-bottom: 10px;
  background: url("../images/header_bg2.png") repeat-x;
}
.header .logo h1{
  overflow: hidden;
  width: 362px;
  height: 80px;
}
.header-menu {
  margin-top: 58px;
}
.header-menu li {
  padding: 0;
  margin-right: 13px;
}
.header-menu li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.header-menu a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
.header .get-news-form {
  margin-top: 24px;
  padding: 0 18px;
  line-height: 70px;
  background: #B50011;
  border-radius: 5px;
  color: #fff;
}
.header .get-news-form label {
  font: 100 21px sans-serif;
}
.header .get-news-form input {
  width: 240px;
  margin-left: 168px;
  vertical-align: baseline;
  border-radius: 0;
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
}
.header .get-news-form input::-webkit-input-placeholder { /* WebKit browsers */
  color:    #F3A2A4 !important;
}
.header .get-news-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #F3A2A4 !important;
  opacity:  1 !important;
}
.header .get-news-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #F3A2A4 !important;
  opacity:  1 !important;
}
.header .get-news-form input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #F3A2A4 !important;
}
.header .get-news-form button {
  width: 98px;
  padding: 7px 12px;
  border: none;
  background: url("../images/small_btn_img.png") no-repeat center;
  background-size:  100% 100%;
  color: #B50011;
  font-weight: bold;
  font-size: 15px;
}
.arrow-top {
  position: absolute;
  top: 10px;
  left: 38px;
  width: 0;
  height: 0;
  border: 20px solid rgba(255,255,255,0);
  border-bottom-color: #B50011;
  border-top: 0;
}
.header-sidebar {
  margin-top: 15px;
}
.header-sidebar .deal-date {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
.arrow-right {
  position: absolute;
  top: 30px;
  right: 0;
  width: 0;
  height: 0;
  border: 20px solid rgba(255,255,255,0);
  border-left-color: #fff;
  border-right: 0;
}
.header-sidebar .deal-date span {
  color: #B50011;
}
.header-sidebar .deal-date span:first-child {
  font-size: 22px;
}
.header-sidebar .deal-date span:last-child {
  font-size: 45px;
  font-weight: bold;
}
.header-sidebar .tabs {
  margin: 21px -15px 0 15px;
}
.header-sidebar .tabs li {
  margin-bottom: 2px;
  padding: 13px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #252525;
}
.header-sidebar .tabs li a {
  font-weight: bold;
  font-size: 22px;
  color: #939393;
}
.header-sidebar .tabs li a:hover {
  color: #FDF000;
}
.header-main-deal {
  margin-top: 15px;
  border-radius: 5px;
  background: #fff;
}
.header-main-deal .col-lg-12 .col-lg-12,
.header-main-deal .col-lg-12 .col-lg-6 {
  padding-right: 10px;
  padding-left: 10px;
}
.header-main-deal .main-deal-top {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 20px;
  background: #F2F2F2;
}
.header-main-deal .main-deal-top h2 {
  font-size: 35px;
  font-weight: bold;
}
.header-main-deal .main-deal-top p {
  font-size: 17px;
  color: #585858;
}
.header-main-deal .main-deal-left img {
  width: 450px;
  height: 290px;
}
.arrow-left {
  position: absolute;
  top: 17px;
  left: 0;
  width: 0;
  height: 0;
  border: 10px solid rgba(255,255,255,0);
  border-right-color: #000;
  border-left: 0;
}
.header-main-deal .main-deal-right {
  padding: 10px;
  color: #9D9D9D;
  background: #000;
}
.header-main-deal .main-deal-right span {
  line-height: 31px;
}
.header-main-deal .main-deal-right .action-time {
  margin-bottom: 11px;
}
.header-main-deal .main-deal-right .action-time .timer {
  float: right;
  font-size: 26px;
  font-weight: bold;
}
.header-main-deal .main-deal-right .sale-price {
  padding-top: 33px;
  background: #262626;
  -webkit-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.70);
  -moz-box-shadow:    inset 0px 0px 10px 3px rgba(0, 0, 0, 0.70);
  box-shadow:         inset 0px 0px 10px 3px rgba(0, 0, 0, 0.70);
}
.header-main-deal .main-deal-right .sale-price .price {
  margin: 0 0 0 10px;
  vertical-align: middle;
  font: bold 56px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  color: #fff;
}
.header-main-deal .main-deal-right .sale-price .btn {
  display: inline;
  width: 176px;
  height: 57px;
  margin-left: 69px;
  border: none;
  background: url("../images/icons_sprite.png") no-repeat center;
  background-position: 0 -65px;
  color: #D00000;
  font-size: 25px;
  font-weight: bold;
  text-align: right;
}
.header-main-deal .main-deal-right .sale-price p {
  position: relative;
  margin: 0 11px 0 0;
  text-align: right;
}
.header-main-deal .main-deal-right .sale-price .gift-icon {
  height: 22px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.header-main-deal .main-deal-right .sale-price .gift-icon:before {
  content: "";
  display: block;
  position: absolute;
  left: 64%;
  top: 10%;
  width: 24px;
  height: 24px;
  background: url("../images/icons_sprite.png") no-repeat;
  background-position: -17px -132px;
}
.header-main-deal .main-deal-right .sale-price .rates {
  margin: 19px 0 0 10px;
  padding: 0 0 10px;
}
.header-main-deal .main-deal-right .sale-price .rates li {
  display: inline-block;
  position: relative;
  padding: 4px 16px;
  font-size: 32px;
  font-weight: bold;
  color: #FDF000;
  border-radius: 5px;
  background: #1A1A1A;
  text-align: center;
}
.header-main-deal .main-deal-right .sale-price .rates li:not(:first-child) {
  margin-left: 9px;
}
.header-main-deal .main-deal-right .sale-price .rates li:not(:first-child):before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  top: 50%;
  width: 9px;
  height: 1px;
  margin-left: 1px;
  margin-right: 1px;
  background: #C3C3C3;
}
.header-main-deal .main-deal-right .sale-price .rates li span:first-child {
  display: block;
  text-align: right;
  text-transform: uppercase;
  font: 14px Arial, serif;
  color: #4B4B4B;
}
.header-main-deal .social-net-inline {
  float: right;
  width: 550px;
  line-height: 40px;
  margin: 0 10px;
  text-align: right;
}
.header-main-deal .social-net-inline .twitter-share-button {
  vertical-align: middle;
  width: 80px !important;
}
.header-main-deal .social-net-inline p {
  float: left;
}
.header-main-deal .social-net-inline .fb-like.fb_iframe_widget {
  line-height: 20px;
}
.header-main-deal .social-net-inline a {
  color: #D00000;
  text-decoration: underline;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content {
  padding: 21px 0 0 0;
  background: #F4EFF1;
}
.content-sidebar .arrow-anchor {
  position: relative;
}
.content-sidebar .likebox-wrapper * {
  width: 100% !important;
}
.content-sidebar .iphone-bg{
  height: 240px;
  /*width: 150px;*/
  background: #fff url("../images/iphone.png") no-repeat center;
  color: #fff;
}
.content-sidebar .inner-iphone-bg {
  position: absolute;
  top: 49px;
  left: 50px;
  width: 96px;
  height: 143px;
  background: #FF0000;
  text-align: center;
}
.arrow-bottom {
  position: absolute;
  right: 20px;
  width: 0;
  height: 0;
  border: 20px solid rgba(255,255,255,0);
  border-top-color: #fff;
  border-bottom: 0;
}
.content-sidebar strong {
  font-size: 75px;
}
.content-sidebar sup {
  font-size: 50px;
}
.content-sidebar .app-store {
  height: 50px;
  width: 150px;
  margin: 24px auto;
  background: url("../images/icons_sprite.png") no-repeat;
  background-position: -14px -1px;
}
.content-main-block {
  margin: 20px 0 0 0;
  line-height: 1.5;
}
.content-main-block:before {
  display: block;
  content: "";
  width: 100%;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #FFFFFF;

}
.content-main-block .header-secondary-red {
  position: absolute;
  width: 150px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  background: #D00000;
  text-align: center;
  text-transform: uppercase;
}
.content-main-block .header-secondary-grey {
  position: absolute;
  width: 150px;
  line-height: 40px;
  color: #7B7B7B;
  font-size: 16px;
  border-radius: 5px;
  background: #E5E5E5;
  text-align: center;
  text-transform: uppercase;
}
.content-main-block .top {
  top: -22px;
  left: 35px;
}
.content-main-block .bottom {
  top: 135px;
  left: 35px;
}
.content-main-block .paragraph-text {
  margin: 40px 0 38px 10px;
  color: #222222;
  font-family: arial, sans-serif;
}
.content-main-block .paragraph-text span {
  color: #FF0031;
}
.devider {
  padding-left: 0;
}
.content-main-block .devider:after {
  display: block;
  content: "";
  width: 100%;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #FFFFFF;
}
.content-main-block .map,
.content-main-block .pin,
.content-main-block .adress {
  margin: 40px 0 0 0;
}

.content-main-block .pin {
  width: 35px;
  height: 50px;
  text-align: center;
  background: url("../images/icons_sprite.png") no-repeat;
  background-position: -55px -132px;
}
.content-main-block .pin p {
  color: #fff;
  line-height: 35px;
}
.content-main-block .pin p strong {
  font-size: 21px;
}
.content-main-block .pin p sup {
  top: -1em;
}

.content-main-block .adress {
  font: 14px Helvetica, sans-serif;
  color: #7E7E7E;
}
.content-main-block .adress p:nth-child(4) {
  margin: 23px 0 0 0;
}
.content-main-block .adress .e-adress a {
  font: 14px Helvetica, sans-serif;
  color: #FF0031;
  text-decoration: underline;
}
.content-main-block .paragraph-text-left-side {
  margin: 40px 0 0 0;
  color: #7B7B7B;
  font-family: arial, sans-serif;
}
.content-main-block .paragraph-text-left-side p {
  margin: 0 0 25px 0;
}
.content-main-block .slider-cover {
  margin: 38px 0 62px 0;
  padding: 0 0 15px;
  font: 13px Helvetica, sans-serif;
  background: #2A2A2A;
  border-radius: 5px;
  color: #D5D5D5;
}
.content-main-block .slider-cover .header-secondary-grey-long {
  position: absolute;
  top: 52px;
  left: 50px;
  width: 290px;
  line-height: 41px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  background: #434343;
}
.content-main-block .slider-cover div.slider-info {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.content-main-block .slider-cover div.slider-info:before {
  display: block;
  content: "";
  width: 100%;
  margin: 33px 0 33px 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #424242;
}
.content-main-block .slider-cover p {
  margin: 0 15px 0 15px;
}
.content-main-block .slider-cover .slider-img-wrapper {
  margin: 5px 0 0 0;
}
.content-main-block .slider-cover .slider-img-wrapper .small-slider-img .col-lg-4,
.content-main-block .slider-cover .slider-img-wrapper .small-slider-img .col-lg-8 {
  padding-left: 0;
}
.content-main-block .slider-cover .slider-img-wrapper .small-slider-img .col-lg-4 .img-responsive {
  cursor: pointer;
}
.content-main-block .slider-cover .small-slider-img li a {
  color: #fff;
}
.content-main-block .slider-cover .small-slider-img li a h5 {
  color: #FDF000;
}
.content-main-block .slider-cover .small-slider-img li.img-desc:not(:last-child) {
  margin: 0 0 41px 0;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer:before {
  display: block;
  content: "";
  width: 100%;
  height: 34px;
  background: #FF0000;
}
.footer {
  background: url("../images/footer_bg.png") repeat-x;
}
.footer h4 {
  width: 120px;
  margin: 32px 0 11px 0;
  font-weight: bold;
  font-size: 24px;
}
.footer h4.red-text {
  color: #FF0000;
}
.footer h4.yellow-text {
  margin-bottom: 24px;
  color: #FFEA00;
}
.footer ul li.icons {
  float: left;
}
.footer ul li.icons.question {
  width: 31px;
  height: 44px;
  background: url("../images/icons_sprite.png") no-repeat;
  background-position: -145px -130px;
}
.footer ul li.icons.city {
  width: 49px;
  height: 51px;
  background: url("../images/icons_sprite.png") no-repeat;
  background-position: -97px -132px;
}
.footer ul li.desc {
  margin: 0 0 0 70px;
}
.footer ul li.desc,
.footer ul li a {
  color: #fff;
  font: 14px Helvetica, sans-serif;
}
.footer ul.with-buttons li a {
  display: block;
  line-height: 31px;
  width: 100%;
  margin: 38px 0 0 0;
  padding: 0 0 0 11px;
  background: #FF0000;
  border-radius: 5px;
  font-weight: bold;
}
.footer ul.footer-nav li {
  margin: 0 0 9px 0;
  border-bottom: 1px solid #601D23;
}